#giantCheck{
margin: 10px auto;
display: block;

}

label + p, .textright + p, #contactcontainer p, .inline p{
display: inline-block;
vertical-align: top; /* keep long strings in proper formatting */
max-width: 250px;

position: absolute;
left: 32%;
}

label {
 
    margin: 2px 0px 10px 30px;
    display: inline-block;
}


/* keeps contact information properly formatted in line */
#contactcontainer {
display:inline-block;
vertical-align: top; /* text stay aligned with top of element parent */

}

#whatnextcontainer{
    margin: 0 20px 0 30px;
}

#synccal{
    margin-top: 10px;
    color:#347636;
    display: inline-block;
    display: inline-block;
vertical-align: top; /* keep long strings in proper formatting */
max-width: 250px;
position: absolute;

}
.greyline {
    border-top: .5px solid rgba(192,192,192,0.3);
}

.boldgrey {
    color: #333;
    font-weight: bold;
}

label + span, label + p {
    display:inline-block;
    position: absolute;
    left: 30%;
}

.textright{
    text-align: right;
    width: 100px;
    display:inline-block;
    margin-right: 25px;
    margin-bottom: 7px;
}

.inline{
    display: inline-block;
}
