#vin{
    display: block;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 12px;
}

/*
.unlocked {
    border: 1px solid black;
    text-decoration: black;
    font-weight: bold;
}
*/




@media screen and (max-width:400px) {
    
     .select-style select:enabled{
     border: 1px solid black;
     border-radius: 6px;
     padding-bottom: 9px;
     }
    
    
     /* dropdown styling start */
     .select-style select:disabled{
     border: 1px solid #ccc;
    /* padding bottom to fix hidden overflow with styling */
    padding-bottom: 9px;
    border-radius: 6px;
     }
    
     .select-style {
       margin-left: 40px;
        /* border: 1px solid #ccc;
        border: 1px solid black; */
        width: 273px;
        height: 36px;
        border-radius: 6px;
        /*overflow: hidden;*/
       /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;*/
       background-color: white;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .select-style select, .select-style select option {
        padding: 10px;
        width: 273px;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        box-sizing: border-box;
    }
    
    .select-style select:focus {
        outline: none;
    }
    
    }